/* These are my notes on CSS */

/* CSS is again, not strictly a programming language.  It's a "style guide".  
It tells a browser how display the elements of a website that you've created.  
It does this through "rules".  Each rule is made up of a "selector", a "property", 
and a "value." */

div {
    color: darkblue;
}

/* A class selector will select all elements with a given "class".  This is 
an attribute that you give to an HTML element. */

.greeting,
.unread {
    background-color: aqua;
}

.greeting {
    color: red;
}

.unread {
    color: lightblue;
}

/* You can also have ID selectors.  The difference between class selectors and ID 
selectors is that an element can ONLY have 1 ID selector, and that ID selector 
CANNOT be repeated. */

#response {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.general-greeting#response{
    font-size: xx-large;
}


.ancestor .contents{
    color: #ff0033;
    background-color: mediumspringgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight:300;
}

img {
    height: auto;
    width: 1000px;
    border: 3px dashed blue;
}

.greeting.general-greeting{
    color: green;
}

.greeting {
    color: blue;
}

